* {
  box-sizing: border-box;
  background-image: url(./img/matr.jpeg);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  max-width: 430px;
  width: 100%;
  background: rgba(47, 154, 160, 0.336);
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.main h2 {
  font-size: 22px;
  font-weight: 600;
  color: rgb(26, 118, 16);
  border-radius: 21px;
  text-align: center;
}

.main form {
  margin-top: 30px;
  border-radius: 21px;
}
.main form .input-box {
  height: 52px;
  margin: 18px 0;
}
form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
form .input-box input:focus {
  width: 100%;
}
.input-box input:valid {
  border-color: #4070f4;
}
form .copy-right {
  display: flex;
  align-items: center;
}
form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button {
  border-radius: 10px;
}
.input-box.button input {
  color: rgb(30, 22, 22);
  letter-spacing: 1px;
  border: none;
  background: #45933e;
  cursor: pointer;
  transition: 0.5s;
  width: 40%;
}
